<html>


<style>
    #barra{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    #barra li{
        display: inline;
        margin: 0 20px;
    }

</style>

<body>
    <ul id="barra">
        <li><a href="http://127.0.0.1:8000">Inicio</a></li>
        <li><a href="http://127.0.0.1:8000/Programa">Programa</a></li>
        <li><a href="http://127.0.0.1:8000/Poster">Póster</a></li>
        <li>Memorias</li>
        <li>Registro</li>
        <li><a href="http://127.0.0.1:8000/Ubicacion">Ubicación</a></li>
        <li>Contacto</li>
        <li><a href="http://www.ruim.uson.mx/index.html" target="_blank" rel="noopener noreferrer">Edición Anterior</a></li>
    </ul>
</body>
</html>