{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block title %} RUIM {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Formulario</title>
        <style>
            th {
                text-align: right;
            }
        </style>
    </head>

    <body>
        {% if form.is_multipart %}
        <form action = "/guardarFR/" method = "post" enctype="multipart/form-data">
        {% else %}
        <form action = "/guardarFR/" method = "post">
        {% endif %}
            {% csrf_token %}

            <!-- Mensaje de error -->
            {% if messages %}
                {% for message in messages %}
                <!--
                {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" style="margin-top: 12px;" role="alert">
                    <strong>Solicitud aprobada:</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button></div>
                {% endif %}
                -->
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" style="margin-top: 12px;" role="alert">
                    <strong>Solicitud denegada:</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button></div>
                {% endif %}

                {% endfor %}
            {% endif %}

            <table>
                {{ form|crispy}}
            </table>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </body>
</html>
{% endblock %}