{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} RUIM {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Formulario</title>
        <style>
            th {
                text-align: right;
            }
        </style>
        <script src="{% static 'js/formularioRegistro.js' %}"></script>
    </head>

    <body>
        <form action = "{% url 'formularioRegistro' %}" method = "post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Mensaje de error -->
            {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" style="margin-top: 12px;" role="alert">
                    <strong>Solicitud denegada:</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button></div>
                {% endif %}

                {% endfor %}
            {% endif %}

            <table>
                <span class="asteriskField text-danger">*Obligatorio</span>
                <div id="" class="form-group"><br></div>

                <div id="div_id_numAutores" class="form-group"> 
                    <label for="id_numAutores" class="">Número de Autores</label> 
                    <div> 
                        <select name="numAutores" onchange="cambiarCampos()" class="select form-control" id="id_numAutores">
                        {% for i in '0123456789'|make_list %}
                        {% if form.numAutores|length > 1 and forloop.counter == 1 or form.numAutores == forloop.counter %}
                        <option selected value="{{forloop.counter}}">{{forloop.counter}}</option>
                        {% else %}
                        <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                        {% endif %}
                        {% endfor %}
                      </select> 
                    </div> 
                </div>
                <div id="div_id_au" class="form-group"> 
                    {% if form.numAutores|length > 1 %}
                    <label for="id_autor1" class=" requiredField">Autor 1<span class="asteriskField text-danger">*</span> </label> 
                    <div> <input type="text" name="autor1" id="id_autor1" maxlength="250" class="textinput textInput form-control" required=""> </div> 
                    {% else %}
                    {% for a in autores %}
                    <label for="id_autor{{forloop.counter}}" class=" requiredField">Autor {{forloop.counter}}<span class="asteriskField text-danger">*</span> </label> 
                    <div> <input type="text" name="autor{{forloop.counter}}" value="{{a}}" id="id_autor{{forloop.counter}}" maxlength="250" class="textinput textInput form-control" required=""> </div> 
                    {% endfor %}
                    {% endif %}
                    </div>
                <div id="div_id_correo" class="form-group"> 
                    <label for="id_correo" class=" requiredField">Correo del representante<span class="asteriskField text-danger">*</span> </label> 
                    <div> 
                        {% if messages %}
                        <input type="email" name="correo" value="{{form.correo}}" maxlength="250" class="emailinput form-control" required="" id="id_correo">
                        {% else %}
                        <input type="email" name="correo" maxlength="250" class="emailinput form-control" required="" id="id_correo">
                        {% endif %}
                    </div>
                </div>
                <div id="div_id_division" class="form-group"> 
                    <label for="id_division" class=" requiredField">División o institución a la que pertenece<span class="asteriskField text-danger">*</span> </label> 
                    <div> 
                        {% if messages %}
                        <input type="text" name="division" value="{{form.division}}" maxlength="250" class="textinput textInput form-control" required="" id="id_division">
                        {% else %}
                        <input type="text" name="division" maxlength="250" class="textinput textInput form-control" required="" id="id_division">
                        {% endif %}
                    </div> 
                </div>
                <div id="div_id_titulo" class="form-group"> 
                    <label for="id_titulo" class=" requiredField">Título<span class="asteriskField text-danger">*</span> </label> 
                    <div> 
                        {% if messages %}
                        <input type="text" name="titulo" value="{{form.titulo}}" maxlength="250" class="textinput textInput form-control" required="" id="id_titulo">
                        {% else %}
                        <input type="text" name="titulo" maxlength="250" class="textinput textInput form-control" required="" id="id_titulo">
                        {% endif %}
                    </div> 
                </div>
                <div id="div_id_tipo" class="form-group"> 
                    <label class=" requiredField">Tipo de presentación<span class="asteriskField text-danger">*</span> </label> 
                    <div> 
                        {% if messages %}
                        {% if form.tipo == 'Platica' %}
                        <div class="form-check"> 
                            <input type="radio" class="form-check-input" name="tipo" value="Platica" id="id_tipo_0" required="" checked>
                            <label class="form-check-label" for="id_tipo_0">Plática</label> </div> 
                        <div class="form-check"> 
                            <input type="radio" class="form-check-input" name="tipo" value="Poster" id="id_tipo_1" required=""> 
                            <label class="form-check-label" for="id_tipo_1">Póster</label> </div>
                        {% else %}
                        <div class="form-check"> 
                            <input type="radio" class="form-check-input" name="tipo" value="Platica" id="id_tipo_0" required="">
                            <label class="form-check-label" for="id_tipo_0">Plática</label> </div> 
                        <div class="form-check"> 
                            <input type="radio" class="form-check-input" name="tipo" value="Poster" id="id_tipo_1" required="" checked> 
                            <label class="form-check-label" for="id_tipo_1">Póster</label> </div>
                        {% endif %}
                        {% else %}
                        <div class="form-check"> 
                            <input type="radio" class="form-check-input" name="tipo" value="Platica" id="id_tipo_0" required="">
                            <label class="form-check-label" for="id_tipo_0">Plática</label> </div> 
                        <div class="form-check"> 
                            <input type="radio" class="form-check-input" name="tipo" value="Poster" id="id_tipo_1" required=""> 
                            <label class="form-check-label" for="id_tipo_1">Póster</label> </div>
                        {% endif %}
                    </div>
                </div>
                <div id="div_id_resumen" class="form-group"> 
                    <label for="id_resumen" class=" requiredField">Resumen<span class="asteriskField text-danger">*</span> </label> 
                    <div> 
                        <input type="file" name="resumen" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" class="fileinput fileUpload form-control-file" required="" id="id_resumen">
                    </div> 
                </div>
            </table>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <br>
    </body>
</html>
{% endblock %}