{% load static %}
<html>
<style>
    #pie{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    #pie li{
        display: inline;
        margin: 0 20px;
    }

</style>

<!-- Footer -->
<footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 mbt">
          <a href="https://www.unison.mx" target="_blank" style="color: blue">Universidad de Sonora</a> ·
          <a href="https://dcen.unison.mx" target="_blank" style="color: blue">División de Ciencias Exactas y Naturales</a> ·
          <a href="https://difus.unison.mx" target="_blank" style="color: blue">Departamento de Investigación en Física</a>
          </p>
      <p class="m-0 mbt1">&copy; Comité Organizador RUIM 2022</p>
    </div>
</footer>
</html>