{% extends "home/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuncios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    
    <table class="table mx-auto">
        {% for anuncio in Anuncios %}
        <tr class="mx-auto">
            <td><h1>Anuncio {{anuncio.id}}</h1>{{anuncio.Fecha}}<br>
                <big>{{anuncio.Titulo}}</big><br> 
                {{anuncio.Cuerpo}}<br>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if user.is_superuser %}
    <a href="{% url 'post' %}" class="btn btn-secondary btn-lg" >Publicar Noticia</a>
    {% endif %}
</body>
</html>
{% endblock %}