{% extends "home/base.html" %}
{% block title %} RUIM {% endblock %}
{% block content %}
{% load static %}
<style>
    #info{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #info li{
        margin: 10 20px;
    }

    h3 {text-align: center;}

</style>
<!-- Mensaje de éxito -->
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success alert-dismissible fade show" style="margin-top: 12px;" role="alert">
    <strong>Solicitud enviada:</strong> {{ message }}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button></div>
{% endif %}
{% if message.tags == 'error' %}
<div class="alert alert-danger alert-dismissible fade show" style="margin-top: 12px;" role="alert">
    <strong>Tiempo de espera agotado:</strong> {{ message }}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button></div>
{% endif %}
{% endfor %}
{% endif %}

<h2><font size="+3">Registro de trabajos</font>  </h2>
<h3><font size="+3">Muchas Gracias por su interés en formar parte de la
    XXV Reunión Universitaria de Investigación en Materiales
    (RUIM 2022)</font>  </h3>
<div style="text-align:center">    
    <a href="{% static 'docs/RUIM2022.docx' %}" download="RUIM2022.docx">Formato para resúmenes</a>
    <!-- more links here -->
</div>
<h2>Participación como ponente</h2>
<p>Las formas de Participación en la RUIM 2022 son las siguientes:</p>
<ul id="Info">
    <li><font size="+2">Pláticas Invitadas;</font></li>
    <li><font size="+2">Posters (distribuidos en sesiones vespertinas)</font></li>
</ul>
<h3><font size="+1">Las participaciones, tanto en formato de plática como de Póster, se deberán enviar haciendo clic AQUI (<a href="{% url 'formularioRegistro' %}">Registro ponencia</a>).</font></h3>
<h2>Formato para resumen</h2>
<p>El formato del Resumen es igual para las dos formas de participación y la extensión es de una o dos cuartillas siguiendo la plantilla en formato Word 2010 y posteriores (*.docx), la cual está disponible <a href="{% static 'docs/RUIM2022.docx' %}" download="RUIM2022.docx">AQUI</a></p>
<h2>Constancias de participación</h2>
<p>Se extenderán Constancias de Participación en los siguientes formatos:</p>
<ul id="Info">
    <li><font size="+2">Plática Invitada (Constancia de Plática Invitada);</font></li>
    <li><font size="+2">Poster (Constancia de Presentación de Cartel).</font></li>
</ul>
<h2>Participación en los Cursos Talleres</h2>
<p>Para participar en alguno de los Cursos-Talleres que se realizarán durante la RUIM 2022, se hace necesario pre-registrarse, para ello, próximamente se habilitará el enlace correspondiente.</p>
<p align="center">La RUIM es un evento anual organizado por tres divisiones de la Universidad de Sonora con calidad y nivel comparables a las de un Taller Internacional, por lo que el Comité Organizador buscará que el evento sea avalado por las instancias colegiadas de la UNISON para que las constancias emitidas tengan además el valor curricular requerido por el Programa de Estímulos al Desempeño del Personal Docente y otros.</p>
{% endblock %}