{% extends "home/base.html" %}

{% block title %} RUIM {% endblock %}
{% block content %}
{% load static %}
<style>
    #info{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #info li{
        margin: 10 20px;
    }

</style>
<h3><font size="+3">Registro de trabajos</font>  </h3>
<h3><font size="+3" align="center">Muchas Gracias por su interés en formar parte de la
    XXV Reunión Universitaria de Investigación en Materiales
    (RUIM 2022)</font>  </h3>
<a href="{% static 'docs/RUIM2022.docx' %}" download="Ruim2022.docx">Formato para resúmenes</a>

    <ul id="Info">
        <li><font size="+2">XXV Reunión Universitaria de Investigación en Materiales (RUIM 2022)</font></li>
        <li><font size="+2">Del 9 al 11 de Noviembre</font></li>
        <li><font size="+2">Auditorio del Centro de las Artes</font></li>
    </ul>
    

<p align="center">
    El objetivo de la Reunión Universitaria de Investigación en Materiales (RUIM 2022) es dar a conocer a la comunidad universitaria las actividades que se desarrollan en nuestra institución mediante la presentación de trabajos, por parte de estudiantes y profesores de la Universidad de Sonora, que tengan como temática la investigación en materiales.
</p>
<p align="center">
    Por lo anterior, se convoca a los estudiantes de Posgrado y estudiantes avanzados de Licenciatura, así como a los profesores e investigadores de las Divisiones de Ciencias Exactas y Naturales (DCEN), Ciencias Biológicas y de la Salud (DCBS), e Ingeniería (DI) de la Universidad de Sonora, a presentar trabajos en la XXV Reunión Universitaria de Investigación en Materiales (RUIM 2022).
</p>
<p align="center">
    El registro a la RUIM 2022, así como todas las actividades que se tienen contempladas,
</p>
<p align="center">
    NO tienen costo y son de libre acceso.
</p>
{% endblock %}