{% extends "home/base.html" %}

{% block title %} RUIM {% endblock %}
{% block content %}

</style>
<h3><font size="+3">Ubicación</font>  </h3>

<p align="center">
    Centro de las Artes de la Universidad de Sonora
</p>
<p align="center">
    Ubicado en Blvd. Luis Donaldo Colosio y Rosales S/N
</p>
<p align="center">
    Colonia Centro
</p>
<p align="center">
    Hermosillo, Sonora
</p>

<p align="center" ><a href="https://www.google.com/maps/place/Centro+de+las+Artes+Unison/@29.080947,-110.9596943,18z/data=!4m5!3m4!1s0x86ce84491ead1bcf:0xfdb274fba98a7049!8m2!3d29.081619!4d-110.9593575?shorturl=1" target="_blank" rel="noopener noreferrer">Ver en Google Maps</a></p>
<p align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1743.4187415223666!2d-110.9596943!3d29.080947!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ce84491ead1bcf%3A0xfdb274fba98a7049!2sThe%20Unison%20Arts%20Center!5e0!3m2!1sen!2smx!4v1668801524603!5m2!1sen!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
{% endblock %}